<div class="buyTicketPage">
  <div class="bannerImg" style="background-image: url('./assets/images/header1.jpg');">
  </div>

  <div class="customContainer py-5 contactPage">
    <div class="row pb-5">
      <div class="col-6">
        <img src="./assets/images/whyimg1.png" />
      </div>
      <div class="col-6">
        <h4 class="position-relative pt-4 beforeBorder">STAY ACTIVE, STAY HEALTHY</h4>
        <h2 class="font-weight-bold themecolor">STAY HAPPY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-6">
        <h4 class="position-relative pt-4 beforeBorder">STAY ACTIVE, STAY HEALTHY</h4>
        <h2 class="font-weight-bold themecolor">STAY HAPPY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-6">
        <img src="./assets/images/whyimg2.png" />
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-6">
        <img src="./assets/images/whyimg3.png" />
      </div>
      <div class="col-6">
        <h4 class="position-relative pt-4 beforeBorder">STAY ACTIVE, STAY HEALTHY</h4>
        <h2 class="font-weight-bold themecolor">STAY HAPPY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-6">
        <h4 class="position-relative pt-4 beforeBorder">STAY ACTIVE, STAY HEALTHY</h4>
        <h2 class="font-weight-bold themecolor">STAY HAPPY</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-6">
        <img src="./assets/images/whyimg4.png" />
      </div>
    </div>
  </div>
</div>