.buttonCss{
    letter-spacing: 0.6px;
    background-color: #ef5c2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
    border: none;
}

.amountSection table th{
    font-size: 13px;
}
.checkoutPage label{
    width: 100%;
}

.checkoutPage{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.checkoutPage textarea{
    border: 1px solid #ddd;
    height: 150px;
}

.checkoutPage p{
    font-size: 13px;
}

.checkoutPage input, .checkoutPage select{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }