<div class="checkoutPage my-5">

    <div class="row">
        <div class="col-6">
            <h6 class="text-uppercase mb-3">Billing Details</h6>
            <div class="row">
                <div class="col-6 pl-0">
                    <label>First Name</label>
                    <input type="text" />
                </div>
                <div class="col-6 pr-0">
                    <label>Last Name</label>
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <label>Country</label>
                <select>
                    <option>Select</option>
                </select>
            </div>
            <div class="row">
                <label>Street address</label>
                <input type="text" />
            </div>
            <div class="row">
                <label>Town/City</label>
                <input type="text" />
            </div>
            <div class="row">
                <label>State / Country</label>
                <input type="text" />
            </div>
            <div class="row">
                <label>Postal / Zip</label>
                <input type="text" />
            </div>
            <div class="row">
                <label>Phone</label>
                <input type="text" />
            </div>
            <div class="row">
                <label>Email address</label>
                <input type="text" />
            </div>
            <h6 class="text-uppercase mt-5">Additional information</h6>
            <label>Order notes(Optional)</label>
            <textarea placeholder="Notes about your order e.g special notes for delivery" class="w-100"></textarea>
        </div>
        <div class="col-6">
            <h6 class="text-uppercase">Your Order</h6>
            <table class="w-100 mb-3">
                <thead>
                    <tr>
                        <th class="text-uppercase py-2">Product</th>
                        <th class="text-uppercase py-2 text-right"></th>
                    </tr>
                </thead>
                <tbody *ngIf="productDataList.length > 0">
                    <tr *ngFor="let data of productDataList">
                        <td class="py-2">{{data.name}} X {{data.qty}}</td>
                        <td class="py-2 text-right">{{data.price.toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Subtotal</td>
                        <td class="py-2 text-right">{{subTotal.toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Tax</td>
                        <td class="py-2 text-right">{{commonService.taxAmount.toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <td class="py-2">Total</td>
                        <td class="text-right py-2">{{(subTotal + commonService.taxAmount).toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row d-flex flex-row mb-3 align-items-center">
                <input class="w-auto mr-2 mb-0" type="radio" />
                <span>Paytabs</span>
            </div>
            <p>Pay Securely by credit or Debit card or internet banking through PayTabs Secure Servers.</p>
            <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purpose described in our terms & conditions. </p>
            <div class="row">
                    <a href="javascript:void(0)" routerLink="/payment" class="w-100 text-center text-uppercase buttonCss">Place order</a>
                </div>
        </div>
    </div>
</div>