<!--Start Main Screen-->
<div id="main-wrapper">
    <ngx-loading-bar></ngx-loading-bar>

    

    <!--Start Main page-->
    <div class="page-wrapper">

            <header id="masthead" class="site-header" role="banner">
                    <!-- Start Top header Section -->
                    <!-- End Top header Section -->
                    <!-- Start logo and menu Section -->
                    <div class="main-header headerSection">
                      <div class="row align-items-center">
                        <!-- Start Site title Section -->
                        <div class="site-branding">
                          <h1 class="site-title mb-0">
                            <!-- <img src="images/logo.png" alt=""> -->
                
                            <a href="#" class="custom-logo-link" rel="home"><img class="custom-logo" width="343" height="90"
                                src="./assets/images/logo.svg"></a>
                          </h1>
                        </div>
                        <!-- End Site title Section -->
                        <!-- Start Menu Section -->
                        <div class="menu">
                          <!--<nav id="site-navigation" class="main-navigation" role="navigation"> -->
                          <div class="nav-wrapper">
                            <!-- for toogle menu -->
                            <div class="d-md-none"><span id="showbutton" class="clearfix"><img class="img-responsive grow"
                                  src="./assets/images/button.png" alt=""></span>
                            </div>
                
                
                            <nav class="column-12 im-hiding" style="display: block;">
                              <div class="clearfix">
                                <div class="menu-navigation-menu-container">
                                  <ul id="menu-navigation-menu" class="main-nav">
                                    <li id="menu-item-20"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-20">
                                      <a href="#" aria-current="page">Home</a></li>
                                    <li id="menu-item-21"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="#">Why
                                        Sky Zone?</a></li>
                                    <li id="menu-item-22"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a
                                        href="#">Parties &amp; Events</a></li>
                                    <li id="menu-item-23"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a
                                        href="#">Safety</a></li>
                                    <li id="menu-item-24"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="#">Buy
                                        Tickets</a></li>
                                    <li id="menu-item-25"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a
                                        href="#">Branches</a></li>
                                    <li id="menu-item-26"
                                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a
                                        href="#">Contact Us</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>
                            <!-- / main nav -->
                          </div>
                          <!-- </nav> -->
                        </div>
                        <!-- End Menu Section -->
                        <i class="eicon" aria-hidden="true"></i>
                      </div>
                
                
                    </div>
                    <!-- End logo and menu Section -->
                  </header>
        <router-outlet></router-outlet>       

        <!--Start footer-->
        <footer class="footer"> © 2019 groupsoftus.com </footer>
        <!--End footer-->

    </div>
    <!--End Main page-->
</div>
<!--End Main Screen-->

