<div class="buyTicketPage">
  <div class="bannerImg" style="background-image: url('./assets/images/header1.jpg');">
  </div>

  <div class="customContainer safetyPage">
    <div class="row py-5">
      <div class="col-7 text-center">
        <img width="550" src="./assets/images/safetyimg.png" />
      </div>
      <div class="col-5 pt-5">
        <div class="col-12 px-0">
          <h4 class="approach position-relative pt-4 text-uppercase">our Approach</h4>
          <h2 class="text-uppercase font-weight-bold tosafety mb-3">To safety</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-12 px-0 disclaimer">
          <h5 class="text-uppercase">Disclaimer</h5>
          <p class="font-weight-bold py-2 px-3">It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="row safetyRules mb-5 pb-5">
      <div class="col-12 text-center px-0">
        <h2 class="py-5 position-relative">SAFETY RULES</h2>
      </div>
      <div class="col-6 px-4">
        <div class="border py-3 pl-3 pr-2 always">
          <div class="w-100 text-center">
            <i class="fa fa-check mx-auto" aria-hidden="true"></i>
            <h4 class="text-center my-3 py-1 text-uppercase">Always</h4>
          </div>
          <ul class="pl-4 pr-3">
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
          </ul>
        </div>
      </div>
      <div class="col-6 px-4">
        <div class="border py-3 pl-3 pr-2 never">
          <div class="w-100 text-center">
            <i class="fa fa-times mx-auto" aria-hidden="true"></i>
            <h4 class="text-center my-3 py-1 text-uppercase">Never</h4>
          </div>
          <ul class="pl-4 pr-3">
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
            <li>Lorem Ipsum passages, and more recently with desktop publishing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>