<div class="buyTicketPage">
  <div class="bannerImg" style="background-image: url('./assets/images/header1.jpg');">
  </div>
  <div class="content w-100">
    <div class="w-100 text-center pt-5 pb-3">
      <h1 class="text-uppercase text-center position-relative title pt-4 mb-5">Sky zone trampoline park
        tickets</h1>
      <button class="text-uppercase text-center afterTitle buttonCss">Book your online ticket
        now!</button>
    </div>
    <div class="customContainer w-100">
      <div class="row flex-row py-5 mb-4">
        <div class="col-3">
          <div class="ticketList mb-3">
            <div class="ticketImg" style="background-image: url('../../assets/images/header1.jpg');">
              <h5>30 Minutes Ticket</h5>
            </div>
            <div class="px-3 ticketContent pb-2">
              <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
              <h4>Trampoline Park</h4>
              <h2>50 Riyal</h2>
              <ul class="px-1 mb-0">
                <li class="list-unstyled">The ticket includes all activities available in
                  skyzone Trampoline park</li>
                <li class="list-unstyled">The prices don't include the VAT</li>
              </ul>
            </div>
          </div>
          <div class="w-100 mt-4 text-center">
            <button class="text-uppercase text-center buttonCss" (click)="ticketDetailPage(1)">Ticket detail</button>
          </div>
        </div>
        <div class="col-3">
          <div class="ticketList mb-3">
            <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
              <h5>60 Minutes Ticket</h5>
            </div>
            <div class="px-3 ticketContent pb-2">
              <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
              <h4>Trampoline Park</h4>
              <h2>80 Riyal</h2>
              <ul class="px-1 mb-0">
                <li class="list-unstyled">The ticket includes all activities available in
                  skyzone Trampoline park</li>
                <li class="list-unstyled">The prices don't include the VAT</li>
              </ul>
            </div>
          </div>
          <div class="w-100 mt-4 text-center">
            <button class="text-uppercase text-center buttonCss" (click)="ticketDetailPage(2)">Ticket detail</button>
          </div>
        </div>
        <div class="col-3">
          <div class="ticketList mb-3">
            <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
              <h5>90 Minutes Ticket</h5>
            </div>
            <div class="px-3 ticketContent pb-2">
              <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
              <h4>Trampoline Park</h4>
              <h2>100 Riyal</h2>
              <ul class="px-1 mb-0">
                <li class="list-unstyled">The ticket includes all activities available in
                  skyzone Trampoline park</li>
                <li class="list-unstyled">The prices don't include the VAT</li>
              </ul>
            </div>
          </div>
          <div class="w-100 mt-4 text-center">
            <button class="text-uppercase text-center buttonCss" (click)="ticketDetailPage(3)">Ticket detail</button>
          </div>
        </div>
        <div class="col-3">
          <div class="ticketList">
            <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
              <h5>120 Minutes Ticket</h5>
            </div>
            <div class="px-3 ticketContent pb-2">
              <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
              <h4>Trampoline Park</h4>
              <h2>110 Riyal</h2>
              <ul class="px-1 mb-0">
                <li class="list-unstyled">The ticket includes all activities available in
                  skyzone Trampoline park</li>
                <li class="list-unstyled">The prices don't include the VAT</li>
              </ul>
            </div>
          </div>
          <div class="w-100 mt-4 text-center">
            <button class="text-uppercase text-center buttonCss" (click)="ticketDetailPage(4)">Ticket detail</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row mb-5">
      <div class="customContainer w-100">
        <div class="w-100 colorRed">
          <span>*</span> The ticket includes all activities available in Sky Zone Trampoline Park.
        </div>
        <div class="w-100 colorRed">
          <span>*</span> The prices don't include the VAT.
        </div>
      </div>
    </div>
  </div>

</div>