
/*Buy tickets page*/
.buyTicketPage .bannerImg{
    height: 500px;
    background-size: cover;
    background-position: top center;
}

.buttonCss{
    letter-spacing: 0.6px;
    background-color: #ef5c2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
    border: none;
}

.colorRed{
    color: red;
    font-size: 15px;
}



.ticketList{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.3);
}

.ticketContent ul{
    border: 1px dashed #676767;
}

.ticketContent ul li {
    font-size: 12px;
    color: #676767;
}

.ticketContent{
    position: relative;
}

.ticketContent::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    left: -11px;
    top: -15px;
    border-radius: 50%;
}

.ticketContent h1, .ticketContent h2, .ticketContent h4{
    color:#ef6a2f;
}

.ticketContent::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    right: -11px;
    top: -15px;
    border-radius: 50%;
}

.afterTitle{
    font-size: 16px;
}

.ticketContent ul li::before{
    content: "\f0da";
    font-family: fontawesome;
}

.ticketImg{
    height: 150px;
    background-size: cover;
}

.buyTicketPage .title::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #ef6a2f;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0px;
}

.buyTicketPage .customContainer{
    max-width: 1140px !important;
}

.detailPage .ticketList{
    max-width: 320px;
}

.detailPage .amount{
    color: #57bf6d;
    font-size: 24px;
}

.detailPage{
    position: relative;
}

.detailPage::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100px;
    height: 3px;
    background: #ef6a2f;
    top: 19px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.detailPage .quantity i:nth-child(1), .detailPage .quantity i:nth-child(3){
    border: 1px solid #ddd;
    height: 35px;
}

.detailPage .quantity input{
    border-top: 1px solid #ddd;
    height: 35px;
    border-bottom: 1px solid #ddd;
    width: 35px;
}

.detailPage .singleTicket h1{
    font-size: 60px;
}