<div class="buyTicketPage">

  <div class="content w-100">

      <div class="customContainer mt-3 w-100">
         
          <div class="row flex-row py-5 mt-5 mb-4 detailPage">
              <div class="col-6 mt-4 singleTicket">
                  <div class="ticketList mb-3">
                      <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
                          <h5>30 Minutes Ticket</h5>
                      </div>
                      <div class="px-3 ticketContent pb-2">
                          <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
                          <h4>Trampoline Park</h4>
                          <h2>50 Riyal</h2>
                          <ul class="px-1 mb-0">
                              <li class="list-unstyled">The ticket includes all activities available in
                                  skyzone Trampoline park</li>
                              <li class="list-unstyled">The prices don't include the VAT</li>
                          </ul>
                      </div>
                  </div>

              </div>
              <div class="col-6 mt-4">
                  <h2>30 Minutes Ticket</h2>
                  <h6 class="py-4 my-3 amount">50.00</h6>
                  <div class="w-100 mb-3 pb-3 colorRed">
                      <span>*</span> The ticket includes all activities available in Sky Zone Trampoline Park.
                  </div>
                  <div class="w-100 mb-3 pb-3 colorRed">
                      <span>*</span> The prices don't include the VAT.
                  </div>
                  <hr>
                  <hr>
                  <div class="d-flex flex-row align-items-center quantity">
                      <i class="fa fa-minus d-flex align-items-center px-2" (click)="qtyFunc('-')"></i>
                      <input type="text" value="{{qty}}" class="border-left-0 text-center border-right-0" />
                      <i class="fa fa-plus d-flex align-items-center px-2" (click)="qtyFunc('+')"></i>
                      <button class="text-uppercase text-center ml-4 buttonCss" (click)="buyTicket()">Buy Ticket Now</button>
                  </div>
                 
                  <hr>
                  <hr>
              </div>
          </div>
          <div class="row flex-row py-5 mb-4 flex-wrap">
              <div class="col-12">
                      <h4 class="text-uppercase mb-4">Related Products</h4>
              </div>
              <div class="col-3">
                  <div class="ticketList mb-3">
                      <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
                          <h5>30 Minutes Ticket</h5>
                      </div>
                      <div class="px-3 ticketContent pb-2">
                          <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
                          <h4>Trampoline Park</h4>
                          <h2>50 Riyal</h2>
                          <ul class="px-1 mb-0">
                              <li class="list-unstyled">The ticket includes all activities available in
                                  skyzone Trampoline park</li>
                              <li class="list-unstyled">The prices don't include the VAT</li>
                          </ul>
                      </div>
                  </div>
                  <div class="w-100 mt-4 text-center">
                      <button class="text-uppercase text-center buttonCss">Ticket detail</button>
                  </div>
              </div>
              <div class="col-3">
                  <div class="ticketList mb-3">
                      <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
                          <h5>30 Minutes Ticket</h5>
                      </div>
                      <div class="px-3 ticketContent pb-2">
                          <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
                          <h4>Trampoline Park</h4>
                          <h2>50 Riyal</h2>
                          <ul class="px-1 mb-0">
                              <li class="list-unstyled">The ticket includes all activities available in
                                  skyzone Trampoline park</li>
                              <li class="list-unstyled">The prices don't include the VAT</li>
                          </ul>
                      </div>
                  </div>
                  <div class="w-100 mt-4 text-center">
                      <button class="text-uppercase text-center buttonCss">Ticket detail</button>
                  </div>
              </div>
              <div class="col-3">
                  <div class="ticketList mb-3">
                      <div class="ticketImg" style="background-image: url('./assets/images/header1.jpg');">
                          <h5>30 Minutes Ticket</h5>
                      </div>
                      <div class="px-3 ticketContent pb-2">
                          <h1 class="text-uppercase font-weight-bold">SKY ZONE</h1>
                          <h4>Trampoline Park</h4>
                          <h2>50 Riyal</h2>
                          <ul class="px-1 mb-0">
                              <li class="list-unstyled">The ticket includes all activities available in
                                  skyzone Trampoline park</li>
                              <li class="list-unstyled">The prices don't include the VAT</li>
                          </ul>
                      </div>
                  </div>
                  <div class="w-100 mt-4 text-center">
                      <button class="text-uppercase text-center buttonCss">Ticket detail</button>
                  </div>
              </div>
            
          </div>

      </div>

  </div>

</div>