<header id="masthead" class="site-header" role="banner" *ngIf="headerFooterSectionShow">
    <!-- Start Top header Section -->
    <!-- End Top header Section -->
    <!-- Start logo and menu Section -->
    <div class="main-header headerSection">
        <div class="row align-items-center">
            <!-- Start Site title Section -->
            <div class="site-branding">
                <h1 class="site-title mb-0">
                    <!-- <img src="images/logo.png" alt=""> -->

                    <a href="#" class="custom-logo-link" rel="home"><img class="custom-logo" width="343" height="90"
                            src="./assets/images/logo.svg"></a>
                </h1>
            </div>
            <!-- End Site title Section -->
            <!-- Start Menu Section -->
            <div class="menu">
                <!--<nav id="site-navigation" class="main-navigation" role="navigation"> -->
                <div class="nav-wrapper">
                    <!-- for toogle menu -->
                    <div class="d-md-none"><span id="showbutton" class="clearfix"><img class="img-responsive grow" src="./assets/images/button.png" alt=""></span>
                    </div>


                    <nav class="column-12 im-hiding" style="display: block;">
                        <div class="clearfix">
                            <div class="menu-navigation-menu-container">
                                <ul id="menu-navigation-menu" class="main-nav">
                                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-20">
                                        <a href="javascript:void(0)" routerLink="/dashboard" aria-current="page">Home</a></li>
                                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="javascript:void(0)" routerLink="/whyskyzone">Why Sky Zone?</a></li>
                                    <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="#">Parties &amp; Events</a></li>
                                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="javascript:void(0)" routerLink="/safety">Safety</a></li>
                                    <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="javascript:void(0)" routerLink="/ticketlist">Buy
                                            Tickets</a></li>
                                    <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a
                                            href="#">Branches</a></li>
                                    <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="javascript:void(0)" routerLink="/contactus">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- / main nav -->
                </div>
                <!-- </nav> -->
            </div>
            <!-- End Menu Section -->
            <i class="eicon" aria-hidden="true"></i>
            <i class="fa fa-shopping-cart text-light"></i>
        </div>


    </div>
    <!-- End logo and menu Section -->
</header>

<router-outlet></router-outlet>


<footer class="footer py-5" *ngIf="headerFooterSectionShow">
    <div class="row d-flex flex-row socialIcons">
        <ul class="w-100 d-flex flex-row justify-content-center mx-0 pl-0 mb-4">
            <li class="list-unstyled"><i class="fa fa-phone" aria-hidden="true"></i></li>
            <li class="list-unstyled mx-3"><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li class="list-unstyled mr-3"><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li class="list-unstyled"><i class="fa fa-instagram" aria-hidden="true"></i></li>
        </ul>
        <p class="w-100 mb-2 text-center">Sky Zone Saudi Arabia 2019 &copy; All rights Reserved.</p>
        <p class="w-100 mb-1 text-center">Terms & Condition</p>
    </div>
</footer>