<div class="homepage">
    <div class="row topbanner">
      <div class="bannerContent w-100 mx-auto d-flex flex-wrap">
        <h2 class="w-100">LET’S GO</h2>
        <div class="w-100">
          <p class="w-100">Welcome to an aerial freestyle park where fun starts & ends with safety.</p>
        </div>
        <a href="javascript:void(0)" routerLink="/ticketlist">Buy tickets</a>
      </div>
    </div>
    <div class="customContainer py-5">
      <div class="row align-items-center my-3">
        <div class="col-6 skydiver">
          <img src="./assets/images/skydive.png" width="500" />
        </div>
        <div class="col-6 whySkyzone">
          <span class="topBorder mb-4"></span>
          <h2>WHY</h2>
          <h1>SKY ZONE?</h1>
          <p class="mb-5">We’re the originators of wall-to-wall aerial action, and we never stand still. We’re always working to
            invent epic new ways to play, gather, and compete. The only way to understand it is to come experience it.
            So rally your crew and let’s go!</p>
            <a class="readMore text-uppercase">Read More</a>
        </div>
      </div>
    </div>
    <div class="partiesEvents py-5">
      <div class="customContainer py-5">
      <div class="row mb-5 pb-5 align-items-center">
        <div class="col-5 leftSide">
          <ul class="mx-0 pl-0 pr-5 text-center">
            <li class="list-unstyled mb-3"><a class="text-uppercase" href="#">Parties & Events</a></li>
            <li class="list-unstyled"><a class="text-uppercase" href="#">Safety</a></li>
          </ul>
        </div>
        <div class="col-7 text-center position-relative rightSide">
          <span class="topBorder d-inline-block"></span>
          <img src="./assets/images/parties.png" class="position-relative" width="400" />
          <span class="bottomBorder1 d-inline-block"></span>
          <span class="bottomBorder2 d-inline-block"></span>
        </div>
      </div>
    </div>
    </div>
    
  </div>