
.buttonCss{
    letter-spacing: 0.6px;
    background-color: #ef5c2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
    border: none;
}
.cartPage table{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,.2);
}

.cartPage table thead {
    background-color:#f7f7f7;
}

.updateButtonTd{
    border-top: 1px solid #ddd;
}

.amountSection{
    max-width: 1200px;
}

.amountSection table{
    max-width: 500px;
    margin-right: initial !important;
    margin-left: auto !important;
}

.amountSection table tr td{
    padding-left: 20px;
    padding-right: 20px;
}

.cartPage table i{
    font-size: 24px;
}

.amountSection table th{
    font-size: 13px;
}