<div class="cartPage py-5 my-5">
  <table class="mb-5">
    <thead>
      <tr>
        <th></th>
        <th class="py-2 text-center text-uppercase">Product</th>
        <th class="py-2 text-center text-uppercase">Price</th>
        <th class="py-2 text-center text-uppercase">Quantity</th>
        <th class="py-2 text-center text-uppercase">Total</th>
      </tr>
    </thead>
    <tbody *ngIf="productDataList.length > 0">
      <tr *ngFor="let data of productDataList">
        <td class="py-2 text-center">
          <div class="d-flex flex-row justify-content-center align-items-center mr-2"><i class="fa fa-times-circle mr-3"
              (click)="selectedProductId = data.id; myModal.show();"></i><img width="80" src={{data.image}} /></div>
        </td>
        <td class="py-2 text-center">{{data.name}}</td>
        <td class="py-2 text-center">{{data.price.toFixed(2)}}</td>
        <td class="py-2 text-center">{{data.qty}}</td>
        <td class="py-2 text-center">{{(data.price * data.qty) .toFixed(2)}}</td>
      </tr>
      <tr class="updateButtonTd">
        <td class="py-2 px-2 text-right" colspan="5"><button class="buttonCss text-uppercase">Update cart</button></td>
      </tr>
    </tbody>
    <tbody>
        <tr *ngIf="productDataList.length == 0">
          <td colspan="4"> No Products </td>
        </tr>
    </tbody>
  </table>
  <div class="w-100 mx-auto amountSection d-flex">
    <table class="float-right" *ngIf="productDataList.length > 0">
      <thead>
        <tr>
          <th colspan="2" class="py-2 text-center text-uppercase">Cart totals</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-2">Subtotal</td>
          <td class="py-2">{{subTotal.toFixed(2)}}</td>
        </tr>
        <tr>
          <td class="py-2">Tax (estimated for India)</td>
          <td class="py-2">{{commonService.taxAmount.toFixed(2)}}</td>
        </tr>
        <tr>
          <td class="py-2">Total</td>
          <td class="py-2">{{(subTotal + commonService.taxAmount).toFixed(2)}}</td>
        </tr>
        <tr class="updateButtonTd">
          <td class="py-3 px-2 text-right" colspan="2"><a href="javascript:void(0)" class="w-100 buttonCss text-uppercase" (click)="checkoutPage()">Proceed to checkout</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation Window</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteProduct(this.selectedProductId)">Delete</button>
      </div>
    </div>
  </div>