<div class="buyTicketPage">
  <div class="bannerImg" style="background-image: url('./assets/images/header1.jpg');">
  </div>

  <div class="customContainer contactPage">
    <div class="w-100 text-center pt-5 mb-3">
      <h5 class="text-uppercase keep position-relative pt-3">Keep</h5>
      <h2 class="text-uppercase font-weight-bold">In touch</h2>
      <ul class="d-flex flex-row align-items-center py-5 pl-0 justify-content-center socialmedia">
        <li class="list-unstyled"><i class="fa fa-phone"></i></li>
        <li class="list-unstyled"><i class="fa fa-facebook-f"></i></li>
        <li class="list-unstyled"><i class="fa fa-twitter"></i></li>
        <li class="list-unstyled"><i class="fa fa-instagram"></i></li>
      </ul>
      <h4 class="text-uppercase">we are happy to hear from you</h4>
    </div>
    <div class="contactForm my-5">
      <form>
        <input type="text" class="w-100 mb-2" placeholder="Name" />
        <input type="text" class="w-100 mb-2" placeholder="Email" />
        <textarea placeholder="Message" class="w-100 mb-2"></textarea>
        <button class="text-uppercase rounded py-2 w-100">Send</button>
      </form>
    </div>
  </div>
</div>