/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Roboto-Regular';
   /* src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto-Bold';
  /*  src: url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
  }
  


/* New CSS */
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

a:hover{
    text-decoration: none;
}
.headerSection a.custom-logo-link{
    display: flex;
}

.headerSection a.custom-logo-link img.custom-logo{
    width: 229px;
    height: 59px;
    object-fit: cover;
    background: #fff;
}

.main-header.headerSection {
    background-color: #1f1f1f;
    border-bottom: 1px solid #ee692e;
}

.headerSection .main-nav > li > a{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 13px 20px;
    font-family: 'Roboto-Bold';
    transition: .4s;
}

.headerSection .main-nav > li > a:hover{
    text-decoration: none;
    color: #ef5c2f;
}

.headerSection ul#menu-navigation-menu{
    margin-bottom:0px;
    margin-left: 15px;
}

.headerSection ul#menu-navigation-menu li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
}

.current-menu-item a{
    color: #ef5c2f !important;
}

.gifImage .elementor-heading-title{
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}


.gifImage .elementor-widget-container {
    margin: 250px 0px;
}

.topbanner{
    background-image: url(assets/images/skyzone-gif.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    text-align: left;
}

.bannerContent{
    max-width: 83%;
}

.bannerContent p{
    color: #fff;
    font-size: 26px;
    max-width: 520px !important;
}

.bannerContent a{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    background-color: #ef5c2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
}

.bannerContent a:hover{
    background-color: #1f1f1f;
}

.customContainer{
    max-width: 83%;
    margin: 0 auto;
}

.bannerContent h2{
    font-size: 85px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.partiesEvents{
    background-color: #ed5d2f;
}

.partiesEvents .leftSide li{
    border-bottom: 2px dotted #f5872a;
}

.partiesEvents .leftSide a{
    color: #1f1f1f;
    font-size: 24px;
    font-family: Roboto-Bold;
}

.partiesEvents .rightSide img{
    box-shadow: 0px 1px 18px 10px rgba(0,0,0,.2);
    z-index: 9;
}

.partiesEvents .rightSide .bottomBorder1{
    border: 5px solid #f5872a;
    width: 131px;
    height: 70px;
    position: absolute;
    left: 75px;
    bottom: -44px;
    z-index: 1;
    background-color: #ed5d2f;
}
.partiesEvents .rightSide .bottomBorder2{
    background-color: #ee6f3b;
    width: 131px;
    height: 70px;
    position: absolute;
    left: 95px;
    bottom: -63px;

}


.partiesEvents .rightSide .topBorder{
    border: 5px solid #f5872a;
    width: 180px;
    height: 180px;
    position: absolute;
    right: 89px;
    top: -130px;
}




.footer{
    background-color: #1f1f1f;
    border-bottom: 5px solid #ed5d2f;
}

.footer i{
    font-size: 20px;
}

.footer i, .footer p{
    color: #fff;
}

.whySkyzone h2{
    font-size: 28px;
}
.whySkyzone h1{
    font-size: 36px;
    font-family: Roboto-Bold;
}
.whySkyzone span{
    display: inline-block;
    background-color: #f47431;
    width: 5px;
    height: 65px;
} 
.readMore{
    color: #ee692e !important;
    transition: .3s;
}

.readMore:hover {
    cursor: pointer;
    color: #1f1f1f !important; 
}

/*Buy tickets page*/
.buyTicketPage .bannerImg{
    height: 500px;
    background-size: cover;
    background-position: top center;
}

.buttonCss{
    letter-spacing: 0.6px;
    background-color: #ef5c2f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
    border: none;
}

.colorRed{
    color: red;
    font-size: 15px;
}



.ticketList{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.3);
}

.ticketContent ul{
    border: 1px dashed #676767;
}

.ticketContent ul li {
    font-size: 12px;
    color: #676767;
}

.ticketContent{
    position: relative;
}

.ticketContent::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    left: -11px;
    top: -15px;
    border-radius: 50%;
}

.ticketContent h1, .ticketContent h2, .ticketContent h4{
    color:#ef6a2f;
}

.ticketContent::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    right: -11px;
    top: -15px;
    border-radius: 50%;
}

.afterTitle{
    font-size: 16px;
}

.ticketContent ul li::before{
    content: "\f0da";
    font-family: fontawesome;
}

.ticketImg{
    height: 150px;
    background-size: cover;
}

.buyTicketPage .title::before{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #ef6a2f;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0px;
}

.buyTicketPage .customContainer{
    max-width: 1140px !important;
}

.detailPage .ticketList{
    max-width: 320px;
}

.detailPage .amount{
    color: #57bf6d;
    font-size: 24px;
}

.detailPage{
    position: relative;
}

.detailPage::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100px;
    height: 3px;
    background: #ef6a2f;
    top: 19px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.detailPage .quantity i:nth-child(1), .detailPage .quantity i:nth-child(3){
    border: 1px solid #ddd;
    height: 35px;
}

.detailPage .quantity input{
    border-top: 1px solid #ddd;
    height: 35px;
    border-bottom: 1px solid #ddd;
    width: 35px;
}

.detailPage .singleTicket h1{
    font-size: 60px;
}

.cartPage table{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,.2);
}

.cartPage table thead {
    background-color:#f7f7f7;
}

.updateButtonTd{
    border-top: 1px solid #ddd;
}

.amountSection{
    max-width: 1200px;
}

.amountSection table{
    max-width: 500px;
    margin-right: initial !important;
    margin-left: auto !important;
}

.amountSection table tr td{
    padding-left: 20px;
    padding-right: 20px;
}

.cartPage table i{
    font-size: 24px;
}

.amountSection table th{
    font-size: 13px;
}
.checkoutPage label{
    width: 100%;
}

.checkoutPage{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.checkoutPage textarea{
    border: 1px solid #ddd;
    height: 150px;
}

.checkoutPage p{
    font-size: 13px;
}

.checkoutPage input, .checkoutPage select{
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
.disclaimer p{
    background-color: #e0e0e0;
    border: 1px solid red;
}

.safetyRules .border{
    border-color: red !important;
}

.safetyRules .always .fa-check{
    font-size: 33px;
    color: #61ce70;
}

.safetyRules .never .fa-times{
    font-size: 33px;
    color: #e82f17;
}

.safetyRules h2::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #ef5c2f;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.safetyRules h4{
    color: #ef5c2f;
}

.safetyPage .approach::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #ef5c2f;
    top: -10px;
    left: 0;
}

.tosafety{
    color: #ef5c2f;
}

.contactForm input, .contactForm textarea{
    border: none;
    border-bottom: 1px solid #ef5c2f;
    padding: 10px 8px;
}

.contactForm textarea{
    height: 100px;
}

.contactForm button{
    background-color: #ef5c2f;
    border: none;
    color: #fff;
}

.contactForm form{
    max-width: 950px;
    margin: 0 auto;
}

.contactPage .socialmedia li{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ef5c2f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}

.contactPage .socialmedia li i{
    color: #fff;
    font-size: 26px;
}

.contactPage h5.keep::before{

}

.beforeBorder::before{
    content: "";
    height: 3px;
    width: 60px;
    position: absolute;
    top: 0px;
    background-color: #ef5c2f;
}

.themecolor{
    color: #ef5c2f;
}

.contactPage > .row{
    margin-bottom: 90px;
}